@model EurostralWebApplication.Models.ViewModelPricingAndHedging

@{
    ViewBag.Title = "Index";
}

<p class="titleStyle">Pricing et Hedging</p>

<div class="row">
    @using (Ajax.BeginForm("hedgingPortfolio", "PricingAndHedging", FormMethod.Post,
                       new AjaxOptions
                       {
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "portfolioComposition"
                       }))
    {
        <div class="col-md-4">
            <ul>
                @foreach (var item in Model.HedgingModes)
                {
                    <li>
                        @Html.RadioButtonFor(m => m.AutomaticOrManualHedging, @item, new { @id = @item })
                        <label for=@item>@item</label>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-4">
            @Html.LabelFor(m => m.Frequency)
            @Html.DropDownListFor(m => m.Frequency, Model.FrequencyOptionsItems, new { @id = "frequency", @class = "form-control" })
        </div>
        <div class="col-md-2">
            <input type="submit" name="submitButton" id="startButton" value="Lancer" class="btn btn-primary">
        </div>
        <input type="submit" name="submitButton" id="hiddenStartButton" value="Rebalancement" class="btn hide">
    }
</div>

<div class="row">
    <div class="col-md-4">
        <div id="portfolioComposition">@Html.Partial("Portfolio", Session["Portfolio"])</div>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <div class="bloc">
            <table class="table">
                <tr>
                    <td>
                        @Ajax.ActionLink("Pricer", "getPrice", new { },
                                new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "eurostralPrice",
                                    HttpMethod = "GET"
                                },
                                new { @class = "btn btn-primary" })
                    </td>
                    <td><span id="eurostralPrice"></span></td>
                </tr>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    function updateAvailableItems() {
        var radioButtonChecked = $("input[name='AutomaticOrManualHedging']:checked").val();
        if (radioButtonChecked == "Automatique") {
            $("#startButton").val("Lancer");
            $("#frequency").prop("disabled", "");
        }
        else {
            $("#startButton").val("Rebalancer");
            $("#frequency").prop("disabled", "disabled");
        }
    }

    function hedgingPortfolio() {
        $("#hiddenStartButton").trigger("click");
    }

    function launchAutomaticRebalancing(currentFrequency) {
        intervalId = window.setInterval("hedgingPortfolio()", currentFrequency * 1000);
    }

    function doRightAction() {
        if ($("#startButton").val() == "Lancer") {
            $("#startButton").val("Arrêter");
            $("input[name='AutomaticOrManualHedging']").prop("disabled", "disabled");
            var currentFrequency = parseInt($("#frequency").val());
            setTimeout(launchAutomaticRebalancing(currentFrequency), currentFrequency * 1000);
        }
        else if ($("#startButton").val() == "Arrêter") {
            $("#startButton").val("Lancer");
            $("input[name='AutomaticOrManualHedging']").prop("disabled", "");
            clearInterval(intervalId);
        }
    }

    $(document).ready(function () {
        var intervalId;
        $("input[name='AutomaticOrManualHedging']").change(updateAvailableItems);
        $("#startButton").click(doRightAction);
    });
</script>




