@model EurostralWebApplication.Models.Portfolio

@{
    ViewBag.Title = "Portfolio";
}

<div class="bloc">
    <p class="subtitleStyle1"> Portefeuille</p>
    <table class="table">
        <tr>
            <th>Produit</th>
            <th>Quantité</th>
        </tr>
        <tr>
            <th>Euro Stoxx 50</th>
            <td>
                @if (@Model != null)
                {
                    @Model.Composition[0]
                }
            </td>
        </tr>
        <tr>
            <th>SP ASX 200</th>
            <td>
                @if (@Model != null)
                {
                    @Model.Composition[1]
                }
            </td>
        </tr>
        <tr>
            <th>SP 500</th>
            <td>
                @if (@Model != null)
                {
                    @Model.Composition[2]
                }
            </td>
        </tr>
        <tr>
            <th>AUD/EUR</th>
            <td>
                @if (@Model != null)
                {
                    @Model.Composition[4]
                }
            </td>
        </tr>
        <tr>
            <th>USD/EUR</th>
            <td>
                @if (@Model != null)
                {
                    @Model.Composition[5]
                }
            </td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th>Valeur du portefeuille</th>
            <td>
                @if (@Model != null)
                {
                    @Model.Value
                }
            </td>
        </tr>
    </table>
</div>
</div>


        

