@{
    ViewBag.Title = "Index";
}


<h2>Pricing</h2>

<table class="table">
    <tbody>
        <tr>
            <td>
                @Ajax.ActionLink("Price", "getEurostralPrice", new { },
                                 new AjaxOptions
                                 {
                                     InsertionMode = InsertionMode.Replace,
                                     UpdateTargetId = "eurostralPrice",
                                     HttpMethod = "GET"
                                 },
                                 new { @class = "btn btn-primary" })
            </td>
            <td><span id="eurostralPrice">@Html.Partial("EurostralPrice", null)</span></td>
        </tr>
    </tbody>
</table>


<h2>Indexes prices</h2>

<table class="table">
    <thead>
        <tr><th>Product</th><th>Euro Stoxx 50</th><th>SP ASX 200</th><th>SP 500</th></tr>
    </thead>
    <tbody>
        <tr id="indexesPrices">@Html.Partial("IndexesPrices", null)</tr>
    </tbody>
</table>

@Ajax.ActionLink("Get indexes prices", "getIndexesPrices", new { },
                 new AjaxOptions
                 {
                     InsertionMode = InsertionMode.Replace,
                     UpdateTargetId = "indexesPrices",
                     HttpMethod = "GET"
                 },
                 new { @class = "btn btn-primary" })

<h2>Portfolio composition</h2>

<span id="portfolioComposition">@Html.Partial("Portfolio", null)</span>

<table class="table">
    <tbody>
        <tr>
            <td>
                @Ajax.ActionLink("Start hedging", "startHedgingEurostral", new { },
                 new AjaxOptions
                 {
                     InsertionMode = InsertionMode.Replace,
                     UpdateTargetId = "portfolioComposition",
                     HttpMethod = "GET"
                 },
                 new { @class = "btn btn-primary" })
            </td>
            <td>
                @Ajax.ActionLink("Rebalance", "rebalanceHedgingPortfolio", new { },
                 new AjaxOptions
                 {
                     InsertionMode = InsertionMode.Replace,
                     UpdateTargetId = "portfolioComposition",
                     HttpMethod = "GET"
                 },
                 new { @class = "btn btn-primary" })
            </td>
        </tr>
    </tbody>
</table>