@model EurostralWebApplication.Models.Eurostral

@{
    ViewBag.Title = "Prices";
}

<table class="table canChange">
    <thead>
        <tr><th>Indices</th><th>Cours actuel</th><th>Monnaie</th><th>Performance</th><th>Poids</th></tr>
    </thead>
    <tbody>
        <tr>
            <th>Euro Stoxx 50</th>
            <td>
                @if (@Model != null)
                {
                    <em>@Model.Indexes[0].Price</em>
                }
            </td>
            <td>EUR</td>
            <td>
                @if (@Model != null)
                {
                    if (@Model.Indexes[0].IsIncreasingOrDecreasing == 1)
                    {
                        <em class="text-success">@Model.Indexes[0].Performance</em>
                    }
                    else if (@Model.Indexes[0].IsIncreasingOrDecreasing == -1)
                    {
                        <em class="text-danger">@Model.Indexes[0].Performance</em>
                    }
                    else
                    {
                        <em>@Model.Indexes[0].Performance</em>
                    }
                }
            </td>
            <td>
                @if (@Model != null)
                {
                    <em>@Model.getIndexWeight(0)</em>
                }
            </td>
        </tr>
        <tr>
            <th>S&P 500</th>
            <td>
                @if (@Model != null)
                {
                    <em>@Model.Indexes[1].Price</em>
                }
            </td>
            <td>USD</td>
            <td>
                @if (@Model != null)
                {
                    if (@Model.Indexes[1].IsIncreasingOrDecreasing == 1)
                    {
                        <em class="text-success">@Model.Indexes[1].Performance</em>
                    }
                    else if (@Model.Indexes[1].IsIncreasingOrDecreasing == -1)
                    {
                        <em class="text-danger">@Model.Indexes[1].Performance</em>
                    }
                    else
                    {
                        <em>@Model.Indexes[1].Performance</em>
                    }
                }
            </td>

            <td>
                @if (@Model != null)
                {
                    <em>@Model.getIndexWeight(1)</em>
                }
            </td>
        </tr>
        <tr>
            <th>S&P ASX 200</th>
            <td>
                @if (@Model != null)
                {
                    <em>@Model.Indexes[2].Price</em>
                }
            </td>
            <td>AUD</td>
            <td>
                @if (@Model != null)
                {
                    if (@Model.Indexes[2].IsIncreasingOrDecreasing == 1)
                    {
                        <em class="text-success">@Model.Indexes[2].Performance</em>
                    }
                    else if (@Model.Indexes[2].IsIncreasingOrDecreasing == -1)
                    {
                        <em class="text-danger">@Model.Indexes[2].Performance</em>
                    }
                    else
                    {
                        <em>@Model.Indexes[2].Performance</em>
                    }
                }
            </td>

            <td>
                @if (@Model != null)
                {
                    <em>@Model.getIndexWeight(2)</em>
                }
            </td>
        </tr>
    </tbody>
</table>

<table class="table canChange">
    <thead>
        <tr><th>Taux de change</th><th>Valeur</th></tr>
    </thead>
    <tbody>
        <tr>
            <th>EUR/USD</th>
            <td>
                @if (@Model != null)
                {
                    if (@Model.ExchangeRates[0].IsIncreasingOrDecreasing == 1)
                    {
                        <em class="text-success">@Model.ExchangeRates[0].Value</em>
                    }
                    else if (@Model.ExchangeRates[0].IsIncreasingOrDecreasing == -1)
                    {
                        <em class="text-danger">@Model.ExchangeRates[0].Value</em>
                    }
                    else
                    {
                        <em>@Model.ExchangeRates[0].Value</em>
                    }
                }
            </td>
        </tr>
        <tr>
            <th>EUR/AUD</th>
            <td>
                @if (@Model != null)
                {
                    if (@Model.ExchangeRates[1].IsIncreasingOrDecreasing == 1)
                    {
                        <em class="text-success">@Model.ExchangeRates[1].Value</em>
                    }
                    else if (@Model.ExchangeRates[1].IsIncreasingOrDecreasing == -1)
                    {
                        <em class="text-danger">@Model.ExchangeRates[1].Value</em>
                    }
                    else
                    {
                        <em>@Model.ExchangeRates[1].Value</em>
                    }
                }
            </td>
        </tr>
        <tr>
            <th>USD/AUD</th>
            <td>
                @if (@Model != null)
                {
                    if (@Model.ExchangeRates[2].IsIncreasingOrDecreasing == 1)
                    {
                        <em class="text-success">@Model.ExchangeRates[2].Value</em>
                    }
                    else if (@Model.ExchangeRates[2].IsIncreasingOrDecreasing == -1)
                    {
                        <em class="text-danger">@Model.ExchangeRates[2].Value</em>
                    }
                    else
                    {
                        <em>@Model.ExchangeRates[2].Value</em>
                    }
                }
            </td>
        </tr>
    </tbody>
</table>